In [3]:
import pandas as pd
intakes = pd.read_csv('aac_intakes.csv')
outcomes = pd.read_csv('aac_outcomes.csv')
combined = pd.read_csv('aac_intakes_outcomes.csv')

In [49]:
intakes.head(5)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,NaN,Intact Female
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,Odin,Neutered Male

In [28]:
outcomes.head(5)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown

In [45]:
combined.head(5)

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444

## Is there an area where more pets are found?

In [35]:
group_by_location = intakes.groupby('found_location').size().reset_index(name='count')
sorted_by_count = group_by_location.sort_values(by='count', ascending=False)
top_5_places = sorted_by_count.head(5)
print(top_5_places)

                          found_location  count
25970                        Austin (TX)  14443
32692               Outside Jurisdiction    948
35512                        Travis (TX)    921
21133  7201 Levander Loop in Austin (TX)    517
27901                     Del Valle (TX)    411

## What is the average number of pets found in a month in the year 2015? Are there months where there is a higher number of animals found?

In [37]:
intakes_2015 = combined[combined['intake_year'] == 2015]
group_by_month = intakes_2015.groupby('intake_month').size().reset_index(name='count')
ave_pets_per_month = group_by_month['count'].mean()
print("Average number of pets found per month in the year 2015:", ave_pets_per_month)

Average number of pets found per month in the year 2015: 1558.25

In [43]:
max = 0
top_month = None
all_months = combined['intake_month'].unique()
for month in all_months:
    total_count = combined.loc[combined['intake_month'] == month, 'count'].sum()
    if total_count > max:
        max = total_count
        top_month = month
        print("Number of pets:", max)
        print("Month:", month)
print("Number of pets:", max)
print("Month:", top_month)

Number of pets: 6099
Month: 12
Number of pets: 6613
Month: 3
Number of pets: 7652
Month: 10
Number of pets: 7966
Month: 5
Number of pets: 7966
Month: 5

## What is the ratio of incoming pets vs. adopted pets?

In [47]:
total_incoming_pets = len(intakes)
total_adopted_pets = len(outcomes[outcomes['outcome_type'] == 'Adoption']) + len(outcomes[outcomes['outcome_type'] == 'Barn Adoption'])
ratio_of_pets = total_incoming_pets / total_adopted_pets
print("Ratio of incoming pets vs. adopted pets:", ratio_of_pets)

Ratio of incoming pets vs. adopted pets: 2.3424573498480954

## What is the distribution of the types of animals in the shelter?

In [54]:
dog = len(intakes[intakes['animal_type'] == 'Dog'])
cat = len(intakes[intakes['animal_type'] == 'Cat'])
other = len(intakes[intakes['animal_type'] == 'Other'])
print("Number of dogs:", dog)
print("Number of cats:", cat)
print("Number of other animals:", other)

Number of dogs: 45743
Number of cats: 29659
Number of other animals: 4434

## What are the adoption rates for specific breeds?

In [64]:
intake_dogs = intakes[intakes['animal_type'] == 'Dog']
group_by_dogs = intake_dogs.groupby('breed').size().reset_index(name='count')
sort_by_count = group_by_dogs.sort_values(by='count', ascending=False)
top_5_breeds = sort_by_count.head(5)
adoptions = outcomes[outcomes['outcome_type'] == 'Adoption'] + outcomes[outcomes['outcome_type'] == 'Barn Adoption']
group_by_adoptions = adoptions.groupby('breed').size().reset_index(name='adoption_count')
com_df = pd.merge(top_5_breeds, group_by_adoptions, on='breed', how='left')
com_df['adoption_percentage'] = (com_df['adoption_count'] / com_df['count']) * 100
print("Top 5 breeds in the shelter:", top_5_breeds)
print("Percentage of adoption of each breed:", com_df)

Top 5 breeds in the shelter:                           breed  count
1463               Pit Bull Mix   6382
628     Chihuahua Shorthair Mix   4860
1159     Labrador Retriever Mix   4841
950         German Shepherd Mix   1963
99    Australian Cattle Dog Mix   1105
Percentage of adoption of each breed:                        breed  count  adoption_count  adoption_percentage
0               Pit Bull Mix   6382             NaN                  NaN
1    Chihuahua Shorthair Mix   4860             NaN                  NaN
2     Labrador Retriever Mix   4841             NaN                  NaN
3        German Shepherd Mix   1963             NaN                  NaN
4  Australian Cattle Dog Mix   1105             NaN                  NaN