In [3]:
import pandas as pd
intakes = pd.read_csv('aac_intakes.csv')
outcomes = pd.read_csv('aac_outcomes.csv')
combined = pd.read_csv('aac_intakes_outcomes.csv')

In [49]:
intakes.head(5)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,NaN,Intact Female
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,Odin,Neutered Male

In [28]:
outcomes.head(5)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown

In [45]:
combined.head(5)

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444

## Is there an area where more pets are found?
I wanted to group the locations of where animals were found and get the total of how many animals were found at each location. Setting ascending to false it will return the location with the highest count first and go down from there. To only print the top 5 I used .head to grab the top 5 locations.

In [35]:
group_by_location = intakes.groupby('found_location').size().reset_index(name='count')
sorted_by_count = group_by_location.sort_values(by='count', ascending=False)
top_5_places = sorted_by_count.head(5)
print(top_5_places)

                          found_location  count
25970                        Austin (TX)  14443
32692               Outside Jurisdiction    948
35512                        Travis (TX)    921
21133  7201 Levander Loop in Austin (TX)    517
27901                     Del Valle (TX)    411

## What is the average number of pets found in a month in the year 2015? Are there months where there is a higher number of animals found?
I knew I had to use the combined table to get this data as it's the only table with all the information I needed. Setting the intake year to 2015 allows only the data from that year to be pulled. To group all the months together I used .groupby and .size to count the number of animals found each month. The reset_index allows me to name the count column as 'count' so I can then get the mean/average per month.
For calculating the data to find months where animals were found that had a higher number, I looped through all the months and set it to unique since months of when animals were found repeated. Then I got a total count for each month using sum(). I set the max which is related to the number of animals and top_month related to month and had those printed out. And as a summary I had the max animals and top_month printed out again to show most in each variable.

In [37]:
intakes_2015 = combined[combined['intake_year'] == 2015]
group_by_month = intakes_2015.groupby('intake_month').size().reset_index(name='count')
ave_pets_per_month = group_by_month['count'].mean()
print("Average number of pets found per month in the year 2015:", ave_pets_per_month)

Average number of pets found per month in the year 2015: 1558.25

In [106]:
max = 0
top_month = None
all_months = combined['intake_month'].unique()
for month in all_months:
    total_count = combined.loc[combined['intake_month'] == month, 'count'].sum()
    if total_count > max:
        max = total_count
        top_month = month
        print("Number of pets:", max)
        print("Month:", month)
print("Number of pets:", max)
print("Month:", top_month)

Number of pets: 6099
Month: 12
Number of pets: 6613
Month: 3
Number of pets: 7652
Month: 10
Number of pets: 7966
Month: 5
Number of pets: 7966
Month: 5

## What is the ratio of incoming pets vs. adopted pets?
I pulled data from the inakes table and outcomes table to be able to divide the two and get a ratio of incoming pets and outgoing pets.

In [88]:
total_incoming_pets = len(intakes)
total_adopted_pets = len(outcomes[outcomes['outcome_type'] == 'Adoption'])
ratio_of_pets = total_incoming_pets / total_adopted_pets
print("Ratio of incoming pets vs. adopted pets:", ratio_of_pets)

Ratio of incoming pets vs. adopted pets: 2.3424573498480954

## What is the distribution of the types of animals in the shelter?
I used the len function to figure out how many of each animal in the intakes table there were.

In [54]:
dog = len(intakes[intakes['animal_type'] == 'Dog'])
cat = len(intakes[intakes['animal_type'] == 'Cat'])
other = len(intakes[intakes['animal_type'] == 'Other'])
print("Number of dogs:", dog)
print("Number of cats:", cat)
print("Number of other animals:", other)

Number of dogs: 45743
Number of cats: 29659
Number of other animals: 4434

## What are the adoption rates for specific breeds?
First I needed to create a variable for dogs to be able to specify the top 5 breeds of dogs. I then group and sorted them showing the most to the least, I also did the same with the adoption from the outcomes table. After that I could calculate the percentage of the top 5 breeds from the intakes table and adoption from the outcomes table by merging the two tables on the breed column from the left dataframe that match the right dataframe. com_df stands for combined dataframe so the breeds from the top 5 breeds dataframe will match the breeds from group_by_adoptions dataframe. This then allowed me to divide the counts to get the percentage.

In [92]:
intake_dogs = intakes[intakes['animal_type'] == 'Dog']
group_by_dogs = intake_dogs.groupby('breed').size().reset_index(name='count')
sort_by_count = group_by_dogs.sort_values(by='count', ascending=False)
top_5_breeds = sort_by_count.head(5)
adoptions = outcomes[outcomes['outcome_type'] == 'Adoption']
group_by_adoptions = adoptions.groupby('breed').size().reset_index(name='adoption_count')
com_df = pd.merge(top_5_breeds, group_by_adoptions, on='breed', how='left')
com_df['adoption_percentage'] = (com_df['adoption_count'] / com_df['count']) * 100
print(top_5_breeds)
print(com_df)

                          breed  count
1463               Pit Bull Mix   6382
628     Chihuahua Shorthair Mix   4860
1159     Labrador Retriever Mix   4841
950         German Shepherd Mix   1963
99    Australian Cattle Dog Mix   1105
                       breed  count  adoption_count  adoption_percentage
0               Pit Bull Mix   6382            2382            37.323723
1    Chihuahua Shorthair Mix   4860            2293            47.181070
2     Labrador Retriever Mix   4841            2404            49.659161
3        German Shepherd Mix   1963             937            47.733062
4  Australian Cattle Dog Mix   1105             619            56.018100

## What are the adoption rates for different colorings?
This question was the same concept as above but did not need to be so specific since it was just asking for all the colorings of all aniamls.

In [91]:
group_by_color = intakes.groupby('color').size().reset_index(name='count')
sort_by_count = group_by_color.sort_values(by='count', ascending=False)
top_5_colors = sort_by_count.head(5)
adoptions = outcomes[outcomes['outcome_type'] == 'Adoption']
group_by_adoptions = adoptions.groupby('color').size().reset_index(name='adoption_count')
com_df = pd.merge(top_5_colors, group_by_adoptions, on='color', how='left')
com_df['adoption_percentage'] = (com_df['adoption_count'] / com_df['count']) * 100
print(top_5_colors)
print(com_df)

           color  count
59   Black/White   8340
8          Black   6710
143  Brown Tabby   4487
123        Brown   3618
466        White   2849
         color  count  adoption_count  adoption_percentage
0  Black/White   8340            3814            45.731415
1        Black   6710            2757            41.087928
2  Brown Tabby   4487            1914            42.656563
3        Brown   3618             803            22.194583
4        White   2849            1082            37.978238

## About how many animals are spayed/neutered each month?
The combined table had the data of spayed/neutured aniamls along with the intake_month to be able to group neutured and spayed animals by month and allow for each month to print out with the number of animals that were either neutered or spayed.

In [109]:
neutered = combined[combined['sex_upon_outcome'] == 'Neutered Male']
group_by_month = neutered.groupby('intake_month')
neutered_per_month = group_by_month.size()
spayed = combined[combined['sex_upon_outcome'] == 'Spayed Female']
group_by_month = spayed.groupby('intake_month')
spayed_per_month = group_by_month.size()
print("Month: Neutered:", neutered_per_month)
print("Month: Spayed:", spayed_per_month)

Month: Neutered: intake_month
1     2449
2     2142
3     2362
4     2131
5     2684
6     2421
7     2241
8     2143
9     2216
10    2698
11    2395
12    2411
dtype: int64
Month: Spayed: intake_month
1     2113
2     2066
3     1976
4     1951
5     2521
6     2287
7     1927
8     1922
9     1993
10    2377
11    2292
12    2124
dtype: int64

## How many animals in the shelter are repeats? Which animal was returned to the shelter the most?
I used the combined table and the animals ID to find all the aniamls that are repeats in shelter and added them up if the animal counts were greater than 1. Then idmax was used to find the index or row label associated with the maximum value in the series. The number of repeats and the animal's ID that occured the most was printed out.

In [127]:
animal_counts = combined.groupby('animal_id_outcome').size()
repeats = sum(animal_counts > 1)
most_returned = animal_counts.idxmax()
print("Number of aninmals in the shelter that are repeats:", repeats)
print("The animal that has been returned to the shelter the most:", most_returned)

Number of aninmals in the shelter that are repeats: 6071
The animal that has been returned to the shelter the most: A721033

## What are the adoption rates for the following age groups?
Baby: 4 months and less
Young: 5 months - 2 years
Adult: 3 years - 10 years
Senior: 11+
In this code I had to convert the age of animals into weeks since there were ages in different measurements such as weeks, months, and years. The map method is used to transform the age values into new values that are measured in weeks. From there I was able to go through the ages of animals and put them into categories based on the number of weeks and assign them to categories of baby, young, adult, and senior. Once the animals were in their correct age groups I can then go through the adoption column and only pull the animals that were adopted and get a count for each age group. I used shape[0] to allow the rows of age categories along with adoption rates to be printed out into 2 columns. Then the age at adoption was divided by the total adoptions multiplied by 100 to get a percentage. The percentage rate was printed out highest to lowest.

In [154]:
def age_in_weeks(age_str):
    try:
        age_value, age_unit = age_str.split()
        age_value = int(age_value)
        if age_unit == 'week' or age_unit == 'weeks':
            return age_value
        elif age_unit == 'month' or age_unit == 'months':
            return age_value * 4
        elif age_unit == 'year' or age_unit == 'years':
            return age_value * 52
    except ValueError:
            return None
outcomes['age_weeks'] = outcomes['age_upon_outcome'].map(age_in_weeks)
def age_category(age_weeks):
    if age_weeks is not None:
        if age_weeks <= 16:
            return 'baby'
        elif 17 <= age_weeks <= 104:
            return 'young'
        elif 105 <= age_weeks <= 520:
            return 'adult'
        else:
            return 'senior'
outcomes['age_group'] = outcomes['age_weeks'].apply(age_category)
adoptions = outcomes[outcomes['outcome_type'] == 'Adoption']
age_at_adoption = adoptions['age_group'].value_counts()
total_adoptions = adoptions.shape[0]
adoption_rates = (age_at_adoption / total_adoptions) * 100
print(adoption_rates)

young     43.164291
baby      37.435733
adult     18.041599
senior     1.358378
Name: age_group, dtype: float64

## If spay/neuter of a dog costs $100 and 50 for a spay/neuter of a cat, how much did the shelter spend in 2015 on these procedures?
Here I made a copy of the dataframe since this information was not in the orginal dataframe and I didn't want to make any changes to the original. Datetime was used to get a specific time such as the year 2015. Animal type was used to filter out just dogs or (|) cats that were spayed or neutered. Then I set the cost to 100 for dogs and 50 for cats and muliplied the count for each spayed/neutered dog and for each spayed/neutered cat. I then subtracted the animals that were not spayed/neutered in the shelter during the year 2015. The animals that were spayed/neutered = spayed_neutered_count and the animals that were not spayed/neutered = outcomes_2015.shape[0]. Shape[0] represents the number of rows in the DataFrame 'outcomes_2015. The print line of the code prints out the total cost for the year 2015. For the message to be printed out correctly the numerica value of total_cost_2015 needs to converted to a string and the + sign combines the print statement which is also a string. The combing of two strings using

In [147]:
dogs_and_cats = outcomes[(outcomes['animal_type'] == 'Dog') | (outcomes['animal_type'] == 'Cat')]
dogs_and_cats = dogs_and_cats.copy()
dogs_and_cats['datetime'] = pd.to_datetime(dogs_and_cats['datetime'])
dogs_and_cats['year'] = dogs_and_cats['datetime'].dt.year
outcomes_2015 =  dogs_and_cats[dogs_and_cats['year'] == 2015]
spayed_neutered_count = outcomes_2015[(outcomes_2015['sex_upon_outcome'] == 'Spayed Female') |
                                     (outcomes_2015['sex_upon_outcome'] == 'Neutered Male')].shape[0]
cost_per_dog = 100
cost_per_cat = 50
total_cost_2015 = spayed_neutered_count * cost_per_dog + (outcomes_2015.shape[0] - spayed_neutered_count) * cost_per_cat
print("Total cost spent on spaying and neutering in 2015: $" + str(total_cost_2015))

Total cost spent on spaying and neutering in 2015: $1500900